body {
    font-family: "Noto Sans", sans-serif;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
    font-variant: small-caps;
}

.teaser .hero-body {
    padding-top: 0;
    padding-bottom: 3rem;
}

.teaser {
    font-family: "Google Sans", sans-serif;
}

.publication-title {
}

.publication-banner {
    max-height: parent;
}

.publication-banner video {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: "Google Sans", sans-serif;
}

.publication-authors {
    font-family: "Google Sans", sans-serif;
}

.author-block-footer {
    margin-bottom: 0.3em !important;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
    color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
    display: inline-block;
    margin: 0; /* Removes extra margin between lines */
    line-height: 1; /* Adjusts the space between lines if needed */
    font-size: 1.2em; /* Adjust this value as needed */
}

.author-block-footer {
    display: block;
    margin: 0; /* Removes extra margin between lines */
    line-height: 1; /* Adjusts the space between lines if needed */
    font-size: 0.9em; /* Adjust this value as needed */
}

.footer-section {
    margin-top: 0.5em; /* Adjust the spacing as needed */
    margin-bottom: 0.5em; /* Adjust the spacing as needed */
}

.publication-banner img {
}

.publication-authors {
    /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    max-height: 0;
}

.results-carousel .oneitem {
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 13px;
    padding: 0;
    font-size: 0;
    max-height: 560px;
    overflow-y: auto;
}

.results-carousel .oneitem .twitter-tweet {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.results-carousel .twoitem {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 56px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 0;
    font-size: 0;
}

#results-carousel-horizontal .twentytwenty-container {
    aspect-ratio: 0.73;
    width: 100%;
    /* aspect-ratio: unset;     */
    height: 600px;
    position: relative;
}

#results-carousel-horizontal .twentytwenty-wrapper {
}

#results-carousel-horizontal .twoitem {
    background-color: transparent;
    border: none;
    gap: 10px;
    border: 1px solid #bbb;
}

#gallery .hero-body {
    padding-bottom: 0 !important;
}

#results-carousel-vertical .twentytwenty-container {
    aspect-ratio: 0.75;
}

.twentytwenty-overlay {
    font-size: 14px;
    font-weight: bold;
}

.twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0) !important;
}

.twentytwenty-overlay .twentytwenty-after-label {
    opacity: 1 !important;
}

.twentytwenty-overlay .twentytwenty-after-label::before {
    background: rgba(0, 0, 0, 0.5);
}

.twentytwenty-overlay .twentytwenty-before-label {
    opacity: 1 !important;
}

.twentytwenty-overlay .twentytwenty-before-label::before {
    background: rgba(0, 0, 0, 0.5);
}

/* Ensure .cmpcontent stretches inside the container */
.twentytwenty-container .cmpcontent {
    width: 100%;
    height: 100%;
    position: relative;
}

\.twentytwenty-container .cmpcontent img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop/zoom images to fill container */
    display: block;
}

.twentytwenty-container-bottom .cmpcontent {
    position: relative;
    overflow: hidden; /* Ensures anything outside the container is hidden */
}

.twentytwenty-container-bottom .cmpcontent img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300%;
    min-height: 300%;
    object-fit: cover;
}

.twentytwenty-container-bottom.disable-crop .cmpcontent img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    /* width: 200%; */
    /* height: auto; */
    object-fit: cover; /* or 'fill' if you prefer */
}

.slider-navigation-previous {
    top: calc(50% - 28px);
    left: calc(0% + 15px);
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.slider-navigation-next {
    top: calc(50% - 28px);
    left: calc(100% - 15px - 42px);
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.slider-pagination {
    top: calc(100% - 56px);
    display: inline-block;
}

.slider-pagination .slider-page {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    display: inline-block;
}

.selectable {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */
}

.interpolation-panel {
    background: #f5f5f5;
    border-radius: 10px;
}

.interpolation-panel .interpolation-image {
    width: 100%;
    border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
    margin: 0 !important;
}

#interpolation-image-wrapper {
    width: 100%;
}

#scale-info {
    font-size: 1.2em;
}

.interpolation-image,
#interpolation-image-wrapper img {
    max-width: 300px; /* or any desired width */
    height: auto; /* keep aspect ratio */
}

.author-block-footer {
    font-size: 1em !important;
}

.navbar {
    visibility: hidden !important;
}
